p{
    background-color: aquamarine;
}
a{
    background-color: rgb(132, 11, 11);
    text-decoration: none;
    color:white;
}
div{
    background-color: yellow;
}
span{
    background-color: yellowgreen;
}